/*
*,
*::before,
*::after {
    box-sizing: border-box;
}
*/

* {
    margin: 0;
    padding: 0;
}

.top-header {
    width: 100%;
    /* border-top: #F8EDE3 4px solid;
     */
    border-bottom: #F8EDE3 3px solid;
    height: 100px;
    background-color: #2B8158;
    position: sticky;
    top: 0;
    z-index: 100;
}

.logo {
    margin-left: 50px;
}

.top-header ul {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    list-style: none;
    justify-content: space-between;
}

.top-header ul li .right-side-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    width: 250px;
    height: 30px;
    margin-right: 50px;
    top: 5px;
}

.top-header ul li .favourite {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: 1px;
    color: #F8EDE3;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
}

.top-header ul li .favourite::after {
    position: relative;
    display: flex;
    content: "Favorilerim";
    text-align: center;
    left: 1px;
}

.top-header ul li .cart {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #F8EDE3;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
}

.top-header ul li .cart::after {
    position: relative;
    display: flex;
    content: "Sepetim";
    text-align: center;
}

.top-header ul li .user_circle {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #F8EDE3;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
}

.top-header ul li .user_circle::after {
    content: "Hesabım";
    display: flex;
    position: relative;
    text-align: center;
    bottom: 1px;
}

.top-header ul li a, .bottom-header ul li a {
    text-decoration: none;
    color: #F8EDE3;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    white-space: nowrap;
    height: 100%;
    transition: all .4s ease;
}

.top-header ul li .search-bar-container form {
    position: relative;
    height: 30px;
    width: 542px;
}

.top-header ul li .search-bar-container form input[type=search] {
    height: 30px;
    width: 542px;
    background-color: #F8EDE3;
    border: #F8EDE3 2px solid;
    border-radius: 5px;
    position: absolute;
    z-index: 1;
}

.top-header ul li .search-bar-container form input[type=button] {
    background-image: url("../assets/search_button.svg");
    width: 38px;
    height: 40px;
    border-radius: 8px;
    background-color: black;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    z-index: 2;
    right: 0px;
    top: -6px;
}

/*
.top-header ul li .search-bar-container form input[type=text] {
    text-align: right;
}
*/

.top-header ul li .search-bar-container form input[type=search]:focus {
    outline: none;
    padding-left: 10px;
}

.top-header ul li .search-bar-container form input[type=search]:focus::placeholder {
    padding-left: 0px;
}

.top-header ul li .search-bar-container form input[type=search]::placeholder {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 10px;
    color: black;
    padding-left: 10px;
}


.bottom-header {
    background-color: #2B8158;
    border-bottom: #F8EDE3 3px solid;
    height: 50px;
}

.bottom-header ul {
    width: 100%;
    height: 100%;
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}
/*
.bottom-header ul li span {
    margin: 0;
    padding: 0;
    display: none;
    width: 1px;
    height: 40px;
    border-radius: 15px;
    background-color: #F8EDE3;
    text-align: center;
}
*/

/*
.bottom-header ul li:nth-child(odd)::after {
    content: '';
    height: 100%;
    border: 1px solid #F8EDE3;
    margin-left: 15px;
    text-align: center;
}

.bottom-header ul li:nth-child(odd)::before {
    content: '';
    height: 100%;
    border: 1px solid #F8EDE3;
    margin-right: 15px;
}
*/

.link {
    position: relative;
    padding-top: 0.5px;
}

.link::after, .link::before {
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    background-color: #F4E66B;
    transition: all 0.6s ease-in-out;
}

.link::after {
    top: 0;
    right: 0;
    transform-origin: right;
}

.link::before {
    left: 0;
    bottom: 0;
    transform-origin: left;
}

.link:hover::after, .link:hover::before {
    width: 100%;
}

.link a:hover {
    color: #F4E66B;
}


.top-section .container {
    position: relative;
    width: 100%;
    height: 540px;
    background: linear-gradient(to right bottom, #2b8158, #f8ede3);
    display: flex;
    flex-direction: column;
}

.top-section .container .row {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

@media screen and (max-width: 780px) {
    .top-section .container .row:nth-child(1) {
        display: none;
    }
    
}

.top-section .container .row:nth-child(1) {
    height: 100%;
    width: 45%;
    /*
    background-color: aquamarine;
    */
    position: relative;
}


.top-section .container .row:nth-child(1) .inner-column {
    
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 60px;
}

.top-section .container .row:nth-child(1) .inner-column .top-section-header {
    display: flex;
    /*
    background-color: blueviolet;
    */
    padding-bottom: 10px;
    color: #F8EDE3;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 40px;
}

.top-section .container .row:nth-child(1) .inner-column #top-section-text {
    /*
    background-color: brown;
    */
    color: #F8EDE3;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 15px;
}

.top-section .container .row:nth-child(1) .inner-column .collections {
    display: flex;
}

.top-section .container .row:nth-child(1) .inner-column input[type="button"] {
    background: #2B8158;
    border: none;
    color: #F8EDE3;
    max-width: 200px;
    height: 34px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
    position: relative;
    width: 150px;
}

.top-section .container .row:nth-child(1) .inner-column .collections ul {
    list-style: none;
}

.top-section .container .row:nth-child(1) .inner-column .data {
    /*
    background-color: blueviolet;
    */
    width: 100%;
    height: 68px;
    margin: 20px 0 20px 0; 
}

.top-section .container .row:nth-child(1) .inner-column .data .data-container .data-row {
    max-width: 40%;
    display: flex;
    flex-wrap: wrap;
    position: relative;
}

.top-section .container .row:nth-child(1) .inner-column .data .data-container .data-row .data-column1 {
    display: flex;
    align-items: center;
    position: relative;
    top: 5px;
    width: 50%;
}

.top-section .container .row:nth-child(1) .inner-column .data .data-container .data-row .data-column1::after {
    content: "50k+";
    color: #F8EDE3;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 15px;
    display: flex;
    text-align: center;
    position: relative;
    bottom: 5px;
    padding-left: 5px;
}

.top-section .container .row:nth-child(1) .inner-column .data .data-container .data-row .data-column2 {
    display: flex;
    align-items: center;
    position: relative;
    top: 3px;
    width: 50%;
}

.top-section .container .row:nth-child(1) .inner-column .data .data-container .data-row .data-column2::after {
    content: "1k+";
    color: #F8EDE3;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 15px;
    display: flex;
    text-align: center;
    position: relative;
    bottom: 2px;
    padding-left: 5px;
}

.top-section .container .row:nth-child(1) .inner-column .data .data-container .data-row2 {
    max-width: 40%;
    display: flex;
    flex-wrap: wrap;
    position: relative;
}

.top-section .container .row:nth-child(1) .inner-column .data .data-container .data-row2 .book-count2 {
    width: 50%;
    color: #F8EDE3;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 13px;
}

.top-section .container .row:nth-child(1) .inner-column .data .data-container .data-row2 .user-count2 {
    width: 50%;
    color: #F8EDE3;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 13px;
}

.top-section .container .row .column2 {
    height: 95%;
    width: 800px;
    /*
    background-color: rgb(224, 155, 90);
    */
    position: relative;
    margin-left: 13px;
    padding: 100px;
    padding-top: 115px;
}

.top-section .container .row .column2 .inner-column {
    width: 620px;
    height: 300px;
    /*background-color: chartreuse;*/
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    position: relative;
    padding: 0 35px;
}

.top-section .container .row .column2 .inner-column .wrapper {
    max-width: 620px;
    width: 100%;
    position: relative;
}

.top-section .container .row .column2 .inner-column .wrapper .arrows {
    height: 30px;
    width: 30px;
    background: #F8EDE3;
    text-align: center;
    line-height: 30px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.23);
    font-size: 1.25rem;
}

.top-section .container .row .column2 .inner-column .wrapper .arrows:first-child {
    left: -22px;
}

.top-section .container .row .column2 .inner-column .wrapper .arrows:last-child {
    right: -22px;
}

.top-section .container .row .column2 .inner-column .wrapper .carousel {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: calc((100% / 3) - 12px);
    gap: 16px;
    overflow: hidden;
}


.top-section .container .row .column2 .inner-column .wrapper .carousel .card {
    list-style: none;
    background-color: #F8EDE3;
    border-radius: 8px;
    height: 300px;
    padding-bottom: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
}

.top-section .container .row .column2 .inner-column .wrapper .carousel .card h2{
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    margin: 30px 0 5px;
}

.top-section .container .row .column2 .inner-column .wrapper .carousel .card span {
    font-family: "Poppins", sans-serif;
    font-style: normal;
    color: #2B8158;
    font-size: 10px;
}

.top-section .container .row .column2 .inner-column .wrapper .carousel .card .img {
    background: #2B8158;
    width: 148px;
    height: 148px;
    border-radius: 10%;
}

.top-section .container .row .column2 .inner-column .wrapper .carousel :where(.card, .img) {
    display: flex;
    justify-content: center;
    align-items: center;
}

.top-section .container .row .column2 .inner-column .wrapper .carousel .card .img img {
    width: 140px;
    height: 140px;
    object-fit: cover;
    border-radius: 10%;
    border: 1px solid #F8EDE3;
}

/*
@media screen and (max-width: 620px) {
    .top-section .container .row .column2 .inner-column .wrapper .carousel {
        grid-auto-columns: calc((100% / 3) - 9px);
    }
}

@media screen and (max-width: 300px) {
    .top-section .container .row .column2 .inner-column .wrapper .carousel {
        grid-auto-columns: 100%;
    }
}
*/

/*
.top-section .container .row:nth-child(1) .inner-column .collections ul li {
    display: flex;
}

.top-section .container .row:nth-child(1) .inner-column .collections .arrow {
    position: absolute;
    margin-left: auto;
    background-color: #F4E66B;
}
*/
/*
.bottom-header ul li:hover {
    font-size: 20px;
    color: #F8EDE3;
    padding: 5px;
    transition: all .4s ease;
    background-color: #E3A428;
    border-radius: 5px;
}
*/

body {
    background-color: #F8EDE3;
    overflow-x: hidden;
}

.footer {
    /*position: absolute;*/
    background-color: #2B8158;
    width: 100%;
    height: 250px;
    bottom: 0;
    padding: 30px 0;
    
}

.row {
    display: flex;
    flex-wrap: wrap;
    position: relative;
}

.row .footer-column:nth-child(1) {
    width: 489px;
}

.row .footer-column:nth-child(2) {
    width: 158px;
}

.row .footer-column:nth-child(3) {
    width: 659px;
}

.footer-column .container1 {
    column-count: 2;
    padding-top: 5px;
}

.footer-column .container2 {
    padding-top: 5px;
}

.footer .container {
    position: relative;
    max-width: 1306px;
    height: 250px;
    margin: auto;
}

.footer ul {
    list-style: none;
}

.footer ul li a {
    color: #F8EDE3;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 13px;
    text-decoration: none;
}

.footer-column {
    width: 25%;
}

.footer-column .h1 {
    display: inline-flex;
    width: 420px;
    border-bottom: #F8EDE3 solid 0.5px;
    color: #F8EDE3;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    padding-bottom: 5px;
}

.footer-column .h2 {
    display: inline-flex;
    width: 136px;
    border-bottom: #F8EDE3 solid 0.5px;
    color: #F8EDE3;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    padding-bottom: 5px;
}

.footer-bottom ul li a {
    color: #F8EDE3;
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-style: normal;
    font-size: 13px;
}

.footer-bottom ul span {
    color: #F8EDE3;
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    font-style: normal;
    font-size: 13px;
}

.footer-bottom ul {
    display: flex;
    white-space: nowrap;
    max-width: 752px;
    justify-content: space-between;
    padding-left: 730px;
    margin-top: 5px;
}

.footer-column:nth-child(3) {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: end;
    padding-top: 5px;
}

.footer-column:nth-child(3) ul {
    position: relative;
    width: 226px;
    max-height: 159px;
    white-space: nowrap;
}

.footer-right-side-container1 {
    position: relative;
    display: inline-flex;
    flex-direction: column;
    height: 63px;
    width: 92px;
    align-items: start;
    justify-content: space-between;
    
}

.footer-right-side-container1 .order_tracking::after {
    position: absolute;
    content: "Sipariş Takibi";
    white-space: nowrap;
    padding-top: 4px;
    padding-left: 10px;
    color: #F8EDE3;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
}

.footer-right-side-container1 .whatsapp::after {
    position: absolute;
    content: "Whatsapp Destek Hattı";
    white-space: nowrap;
    padding-top: 4.5px;
    padding-left: 13px;
    color: #F8EDE3;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
}

.footer-right-side-container2 {
    display: flex;
    flex-direction: column;
}

.footer-right-side-container2 .social-media-icons{
    position: relative;
    display: inline-flex;
    flex-direction: row;
    max-width: 92px;
    justify-content: space-between;
    padding-right: 134px;
}

.footer-right-side-container2 .text {
    padding-top: 35px;
    padding-bottom: 11px;
    color: #F8EDE3;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
}


/*
.footer-right-side-container1::after {
    content: "Bizi Takip Edin";
    position: absolute;
    padding-top: 98px;
    white-space: nowrap;
    
}
*/


.deneme {
    height: 10000px;
}

.loginBody {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(to right bottom, #2b8158, #f8ede3);
    transition: 0.5s;
}



.login-container {
    position: relative;
    width: 800px;
    height: 500px;
    margin: 20px;
}

.login-container-in {
    position: absolute;
    top: 40px;
    width: 100%;
    height: 420px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(255, 255, 255, 0.2);
    box-shadow: 0 5px 45px rgba(0, 0, 0, 0.15);
}

.login-container-in .box {
    position: relative;
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login-container-in .box h2 {
    color: #2B8158;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    margin-bottom: 10px;
}

.login-container-in .box button {
    cursor: pointer;
    padding: 5px 10px;
    border-radius: 5px;
    background-color: #2B8158;
    border: none;
    color: #F8EDE3;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
}

.formBox {
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background: #2b8158;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 5px 45px rgba(0, 0, 0, 0.15);
    transition: 1s ease-in-out;
}

.formBox.active {
    left: 50%;
    transition: 1s ease-in-out;
}

.formBox .form {
    position: relative;
    left: 0;
    width: 100%;
    padding: 50px;
    transition: 0.5s;
}
/*
#initial {
    display: block;
}

#hidden {
    display: none;
}
*/

.formBox .active .sigInForm {
    left: -100%;
    transition-delay: 0s;
}

.formBox .form form {
    width: 100%;
    
    display: flex;
    flex-direction: column;
    
}

.formBox .form form h3 {
    position: relative;
    color: #F8EDE3;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    margin-bottom: 20px;
    right: 10px;
}

.formBox .form form input {
    width: 100%;
    margin-bottom: 20px;
    outline: none;
    font-size: 13px;
    border: 1px solid #F8EDE3;
}

.formBox .form form input[type="text"] {
    background-color: #F8EDE3;
    position: relative;
    padding: 10px;
    right: 10px;
}

.formBox .form form input[type="password"] {
    background-color: #F8EDE3;
    position: relative;
    padding: 10px;
    right: 10px;
}

.formBox .form form input[type="submit"] {
    background: #F8EDE3;
    border: none;
    color: #2B8158;
    max-width: 80px;
    height: 34px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
    position: relative;
    right: 10px;
}

/*
.formBox .form form div label[class = "switch"] {
    position: relative;
    display: inline-block;
    width: 30px;
    height: 15px;
}

.formBox .form form div span[class = "slider"] {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #2b8158;
    border: #2B8158 2px;
    transition: 0.4s;
    border-radius: 5px;
}


label[for = "remember-me"] {
    position: relative;
    display: flex;
    flex-direction: row;
    white-space: nowrap;
    justify-content: left;
    align-items: baseline;
    max-width: 100px;
    border: #2B8158;
    cursor: pointer;
    right: 13px;
    color: #2B8158;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 13px;
}
*/

.formBox .form form .forgot {
    color: #F8EDE3;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 13px;
    position: relative;
    right: 7px;
}
